---
layout: base.njk
title: Home
---

<main>
  {% include "sections/home-hero.njk" %}
  {% include "sections/home-about.njk" %}
  {% include "sections/home-why.njk" %}
  {% include "sections/home-the-space.njk" %}
  {% include "sections/home-memberships.njk" %}
  {% include "sections/home-extras.njk" %}
  {% include "sections/home-testimonials.njk" %}
  {% include "sections/home-split-section.njk" %}
  {% include "sections/home-cta.njk" %}
</main>
